@model BelBank.Models.Category

@{
    ViewData["Title"] = "Cteate";
}

<h1>Добавить</h1>

<h4>Категории</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cteate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NameCategory" class="control-label"></label>
                <input asp-for="NameCategory" class="form-control" />
                <span asp-validation-for="NameCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

