@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BelBank ЗАДАНИЕ</h1>
    <hr />
    <hr />
    <hr />
    <table class="table-info" >
        <tr>
            <td>Пользователь</td>
            <td>Email</td>
            <td>Пароль</td>
            <td>Роль</td>
        </tr>
        <tr>
            <td>Администратор</td>
            <td>admin@mail.ru</td>
            <td>123456</td>
            <td>Категории</td>
        </tr>
        <tr>
            <td>Продвинутый пользователь</td>
            <td>user@mail.ru</td>
            <td>111</td>
            <td>Каталог полный функционал</td>
        </tr>
        <tr>
            <td>Простой пользователь</td>
            <td>p.evsikoff@yandex.by</td>
            <td>123</td>
            <td>Каталог</td>
        </tr>
    </table>
</div>
